# App
NEXT_PUBLIC_APP_NAME=setup-testing
NEXT_PUBLIC_APP_ENV=local

# API
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Auth
NEXT_PUBLIC_AUTH_DOMAIN=
API_SECRET_KEY=           # Never expose — server-side only

# Monitoring
NEXT_PUBLIC_SENTRY_DSN=

# Feature Flags
NEXT_PUBLIC_FEATURE_FLAG_DARK_MODE=false
